.about__grid {
	display: grid;
	grid-template-columns: auto minmax(544px, 768px);
	place-items: center;
	place-content: center;
	gap: 2rem;
	margin: 0 auto;
}

.about__img {
	width: 384px;
	animation: upDown 3000ms ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}

.about__col {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: justify;
}

.about__title {
	border-right: 3px solid var(--primary);
	padding-right: 1rem;
	text-align: end;
}

.about__story {
	text-align: justify;
}
