.contact__heading {
	width: fit-content;
	padding: 0 1rem;
	border-left: 4px solid var(--primary);
}

.icon-container {
    color: var(--primary);
	border: 2px solid var(--tertiary);
	border-radius: 50%;
	padding: 0.8rem;
    transition: transform 150ms ease, background-color 150ms ease;

    &:hover {
        transform: scale(0.9);
        background-color: var(--clr-gray);
    }
}

fieldset {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 1.5rem;
}

.input-box {
	width: 288px;
	background-color: transparent;
	border: 2px solid var(--tertiary);
	border-radius: 0.6rem;
	padding: 0.5rem 1rem;
	letter-spacing: 0.3rem;
	transition: letter-spacing 150ms ease;

	&:focus {
		outline: none;
	}
}

.input-box.spaced {
	letter-spacing: 0.1rem;
}